    <div class="row">
                <div class="col-md-5">


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span> Hola {{Username}}
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li><a ng-click="Salir()" href="/"><span class="glyphicon glyphicon-off"></span>
                                Salir</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="chat">
                                <div ng-repeat="c in Chats">
                                    <li class="left clearfix"><span class="chat-img pull-left">
                                <!-- <img src="http://placehold.it/50/55C1E7/fff&text={{c.Usuario}}" alt="User Avatar" class="img-circle" /> -->
                            </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{c.Usuario}}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{c.Fecha}}</small>
                                            </div>
                                            <p>
                                                {{c.Mensaje}}
                                            </p>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="panel-footer">

                            <form class="login" ng-submit="Comentar()">
                                <div class="input-group">
                                    <input ng-model="chat.Mensaje" id="btn-input" type="text" class="form-control input-sm" placeholder="Que estas pensando?" required="" />
                                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                Enviar</button>
                        </span>
                                </div>
                            </form>

                            <div ng-if="MostrarMensaje">
                                <div class="alert alert-warning" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
                                    {{Mensaje}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>